/* Content Header  */
h1 {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  color: khaki;
}

