/* Content Header  */
h1 {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  color: khaki;
}

h2 {
  background-color: mediumspringgreen;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.frames {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

.paint {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}

h3 {
  font-family: Helvetica;
}

span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}


