body {
    margin: 0 10%;
    font-family: 'Nunito Sans', sans-serif;
}


.container {
    border: 2px solid red;
    margin: 10px auto;
    padding: 10px;
}

/* Colors  */

.color-container {
    width: 100%;
}

.cool-blue {
    color: antiquewhite;
    background-color: #2d5dcc;
}

.pink {
    color:azure ;
    background-color: #d957d9;
}

.mint-green {
    background-color: #4fe0b0;
    color: black;

}

.beige {
    background-color: #efd9ca;
    color: black;
}

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

/* Fonts */

.font-panel {
    width: 45%;
    display: inline-block;
}

.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

/* Text */

.text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Nunito Sans', sans-serif;
}

.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}