* {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Quicksand', sans-serif;
    margin: 0 auto;
}

/* body {
    /* background-color: #191970; */
/*

/* Navigation Bar */

h1 {
    font-size: 2em;
}

nav {
    border-bottom: 2px solid #ffff00;
    height: 170px;
    display: flex;
    position: fixed;
    width: 100%;
    color: #ffff00;
    justify-content: space-between;
    align-items: center;
    background-color: #191970;
}

img.logo {
    height: 170px;
    margin: 10px 0;
    margin-left: 30px;
    width: 211px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2em;
    
    
}

li {
    display: inline;
}

a {
    font-size: 2em;
    color: #ffff00;
    text-decoration: none;
    padding: 38px;
}

/* Header Section  */

header {
    background-image: url('/images/header-image-2.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 174px;
    min-height: 500px;
    text-align: center;
    justify-content: center;
}

.header-text {
    max-width: 1061px;
    margin: 60px;
        
}

.header-article {
    font-weight: 650;
    line-height: 1.8;
}

h1 {
    font-size: 2rem;
    font-weight: 900;
}

